## Reading and Writing files using pandas

In [3]:
import os
#just to check working directory
os.getcwd()

'C:\\Users\\Lenovo'

## step 1 : import libraries

In [21]:
##import Libraries 

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

## Step 2 : Load data

In [13]:
#Compaines dataset analysis

df = pd.read_csv("Compaines.csv")

In [15]:
df.head()

,entity_id,name,category_code,status,founded_at,country_code,investment_rounds,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,lat,lng
0,1,Wetpaint,web,operating,10/17/2005,USA,0,10/1/2005,5/19/2008,3,39750000.00,47.606209,-122.332071
1,10,Flektor,games_video,acquired,10/17/2005,USA,0,10/1/2005,5/19/2008,0,14816520.42,34.021122,-118.396467
2,100,There,games_video,acquired,10/17/2005,USA,0,10/1/2005,5/19/2008,0,14816520.42,37.562992,-122.325525
3,10000,MYWEBBO,network_hosting,operating,7/26/2008,Unknown,0,10/1/2005,5/19/2008,0,14816520.42,0.000000,0.000000
4,10001,THE Movie Streamer,games_video,operating,7/26/2008,Unknown,0,10/1/2005,5/19/2008,0,14816520.42,0.000000,0.000000

## Step 3: Data Manipulation

In [24]:
#Extract Year & Calculate Company Age

df['founded_at'] = pd.to_datetime(df['founded_at'], errors='coerce')
df['founded_year'] = df['founded_at'].dt.year
df['company_age'] = 2025 - df['founded_year']
print(df[['founded_at', 'founded_year', 'company_age']].head(10))

  founded_at  founded_year  company_age
0 2005-10-17        2005.0         20.0
1 2005-10-17        2005.0         20.0
2 2005-10-17        2005.0         20.0
3 2008-07-26        2008.0         17.0
4 2008-07-26        2008.0         17.0
5 2007-06-27        2007.0         18.0
6 2008-08-20        2008.0         17.0
7 2008-08-20        2008.0         17.0
8 2008-08-20        2008.0         17.0
9 2011-08-01        2011.0         14.0

In [25]:
print(df['founded_at'].isnull().sum())
print(df['founded_year'].isnull().sum())
print(df['company_age'].isnull().sum())

28
28
28

In [26]:
# Normalize Numeric Columns (Scaling)
scaler = MinMaxScaler()
numeric_cols = ['funding_total_usd', 'funding_rounds', 'investment_rounds', 'company_age']
# Replace NaNs if any
df[numeric_cols] = df[numeric_cols].fillna(0)
# Apply scaling
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
print("Minimum values:\n", df[numeric_cols].min())
print("Maximum values:\n", df[numeric_cols].max())

Minimum values:
 funding_total_usd    0.0
funding_rounds       0.0
investment_rounds    0.0
company_age          0.0
dtype: float64
Maximum values:
 funding_total_usd    1.0
funding_rounds       1.0
investment_rounds    1.0
company_age          1.0
dtype: float64

In [27]:
print(df.head())

   entity_id                name    category_code     status founded_at  \
0          1            Wetpaint              web  operating 2005-10-17
1         10             Flektor      games_video   acquired 2005-10-17
2        100               There      games_video   acquired 2005-10-17
3      10000             MYWEBBO  network_hosting  operating 2008-07-26
4      10001  THE Movie Streamer      games_video  operating 2008-07-26

  country_code  investment_rounds first_funding_at last_funding_at  \
0          USA                0.0        10/1/2005       5/19/2008
1          USA                0.0        10/1/2005       5/19/2008
2          USA                0.0        10/1/2005       5/19/2008
3      Unknown                0.0        10/1/2005       5/19/2008
4      Unknown                0.0        10/1/2005       5/19/2008

   funding_rounds  funding_total_usd        lat         lng  founded_year  \
0             0.2           0.006974  47.606209 -122.332071        2005.0
1             0.0           0.002599  34.021122 -118.396467        2005.0
2             0.0           0.002599  37.562992 -122.325525        2005.0
3             0.0           0.002599   0.000000    0.000000        2008.0
4             0.0           0.002599   0.000000    0.000000        2008.0

   company_age
0     0.161290
1     0.161290
2     0.161290
3     0.137097
4     0.137097

In [28]:
#Encode Categorical Columns
df = pd.get_dummies(df, columns=['category_code', 'country_code'], drop_first=True)
print(df.head())

   entity_id                name     status founded_at  investment_rounds  \
0          1            Wetpaint  operating 2005-10-17                0.0
1         10             Flektor   acquired 2005-10-17                0.0
2        100               There   acquired 2005-10-17                0.0
3      10000             MYWEBBO  operating 2008-07-26                0.0
4      10001  THE Movie Streamer  operating 2008-07-26                0.0

  first_funding_at last_funding_at  funding_rounds  funding_total_usd  \
0        10/1/2005       5/19/2008             0.2           0.006974
1        10/1/2005       5/19/2008             0.0           0.002599
2        10/1/2005       5/19/2008             0.0           0.002599
3        10/1/2005       5/19/2008             0.0           0.002599
4        10/1/2005       5/19/2008             0.0           0.002599

         lat  ...  country_code_Unknown  country_code_VCT  country_code_VEN  \
0  47.606209  ...                 False             False             False
1  34.021122  ...                 False             False             False
2  37.562992  ...                 False             False             False
3   0.000000  ...                  True             False             False
4   0.000000  ...                  True             False             False

   country_code_VGB  country_code_VIR  country_code_VNM  country_code_YEM  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4             False             False             False             False

   country_code_ZAF  country_code_ZMB  country_code_ZWE
0             False             False             False
1             False             False             False
2             False             False             False
3             False             False             False
4             False             False             False

[5 rows x 230 columns]

## Step 4: Data Labeling (Active_Status)

In [29]:
# Normalize status
df['status'] = df['status'].str.lower()
print(df['status'].head(10))

0    operating
1     acquired
2     acquired
3    operating
4    operating
5    operating
6    operating
7    operating
8    operating
9    operating
Name: status, dtype: object

In [30]:
# Create binary target column
df['Active_Status'] = df['status'].apply(lambda x: 0 if x in ['acquired', 'closed'] else 1)
print(df[['status', 'Active_Status']].head(10))

      status  Active_Status
0  operating              1
1   acquired              0
2   acquired              0
3  operating              1
4  operating              1
5  operating              1
6  operating              1
7  operating              1
8  operating              1
9  operating              1

## Step 5: Save Preprocessed Dataset

In [32]:
df.to_csv("processed_companies_dataset.csv", index=False)

In [36]:
# CSV file read 
df_saved = pd.read_csv("processed_companies_dataset.csv")
print(df_saved.head())
print(df_saved[['status', 'Active_Status', 'company_age']].head(10))

   entity_id                name     status  founded_at  investment_rounds  \
0          1            Wetpaint  operating  2005-10-17                0.0
1         10             Flektor   acquired  2005-10-17                0.0
2        100               There   acquired  2005-10-17                0.0
3      10000             MYWEBBO  operating  2008-07-26                0.0
4      10001  THE Movie Streamer  operating  2008-07-26                0.0

  first_funding_at last_funding_at  funding_rounds  funding_total_usd  \
0        10/1/2005       5/19/2008             0.2           0.006974
1        10/1/2005       5/19/2008             0.0           0.002599
2        10/1/2005       5/19/2008             0.0           0.002599
3        10/1/2005       5/19/2008             0.0           0.002599
4        10/1/2005       5/19/2008             0.0           0.002599

         lat  ...  country_code_VCT  country_code_VEN  country_code_VGB  \
0  47.606209  ...             False             False             False
1  34.021122  ...             False             False             False
2  37.562992  ...             False             False             False
3   0.000000  ...             False             False             False
4   0.000000  ...             False             False             False

   country_code_VIR  country_code_VNM  country_code_YEM  country_code_ZAF  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4             False             False             False             False

   country_code_ZMB  country_code_ZWE  Active_Status
0             False             False              1
1             False             False              0
2             False             False              0
3             False             False              1
4             False             False              1

[5 rows x 231 columns]
      status  Active_Status  company_age
0  operating              1     0.161290
1   acquired              0     0.161290
2   acquired              0     0.161290
3  operating              1     0.137097
4  operating              1     0.137097
5  operating              1     0.145161
6  operating              1     0.137097
7  operating              1     0.137097
8  operating              1     0.137097
9  operating              1     0.112903

### ðŸ“Š Data Preprocessing Report â€“ Startup Dataset

# ðŸ“Š Data Preprocessing Report â€“ Startup Dataset

## âœ… Tasks Performed:

### ðŸ”¹ Feature Engineering:
- Extracted `founded_year` from `founded_at`
- Created new column `company_age` using: `2025 - founded_year`

### ðŸ”¹ Data Normalization:
- Scaled numerical columns using `MinMaxScaler`:
  - `funding_total_usd`
  - `funding_rounds`
  - `investment_rounds`
  - `company_age`

### ðŸ”¹ Encoding:
- One-hot encoded categorical columns using `pd.get_dummies()`:
  - `category_code`
  - `country_code`

### ðŸ”¹ Labeling (Target Column):
- Created binary target column `Active_Status`
  - 1 â†’ Active (Operating or IPO)
  - 0 â†’ Not Active (Acquired or Closed)

### ðŸ”¹ Output:
- Saved the processed dataset as `processed_companies_dataset.csv` using:
  ```python
  df.to_csv("processed_companies_dataset.csv", index=False)